@mixin flex($flex,$content,$items,$direction,$wrap){
    display:$flex;
    justify-content: $content;
    align-items: $items;
    flex-direction: $direction;
    flex-wrap:$wrap;
}
@mixin font($family,$size,$color){
    font-family: $family;
    font-size: $size;
    color: $color;
}