@import 'variables.scss';
@import 'fonts.scss';
@import 'reset.scss';
@import 'mixins.scss';

main{
    .header-section{
        background-image: url('../images/background01.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        header{
            nav{
                .white{
                    color:$white;
                }
                .navbar-nav{
                    font-family: $work-sans-semiBold;
                   a{ 
                       color:$white;
                   }
                   a:hover{
                        background-color:white;
                        color:aqua;
                        border-radius: 5px;
                   }
                }
            }
        }
        .flex-section{
            @include flex-column(flex,center,center,column);
            margin-top: 150px;
            h1{
                @include font($work-sans-semiBold,45px,$white);
                width:520px;
                line-height: 1.3;
                text-align: center;
            }
            h3{
                @include font($work-sans-regular,15px,$white);
                margin-top: 30px;
                text-align: center;
            }
            .home-buttons{
                margin-top: 45px;
                .btn-light{
                    @include font($work-sans-semiBold,14px,$black);
                    width: 167px;
                    margin-right: 25px;
                    border-radius: 10px;
                }
                .btn-link{
                    @include font($work-sans-semiBold,14px,$white);
                    width: 143px;
                    border:1px solid $white;
                    border-radius: 10px;
                }
            }
            .home-phone{
                margin-top: 75px;
            }
        }
    }
}