//Typography
$work-sans-semiBold:"Work sans SemiBold",sans-serif;
$work-sans-regular:"Work sans",sans-serif;
$work-sans-bold:"Work sans Bold",sans-serif;
//color

$white:#FFFFFF;
$text-color:#233148;
$about-text:#6A6D89;
$button-background-color:#33D2FD;
$portfolio-background-color:#FAFAFC;
$button-gradient-start:#fD7873;
$button-gradient-end:#fE367E;
$submit-button-color:#00D1FA;
$input-color:#F6F7FB;