@font-face {
  font-family: 'Work Sans Bold';
  src: url("../fonts/WorkSans-Bold.eot");
  src: url("../fonts/WorkSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff"), url("../fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url("../fonts/WorkSans-SemiBold.eot");
  src: url("../fonts/WorkSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff"), url("../fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans Thin';
  src: url("../fonts/WorkSans-Thin.eot");
  src: url("../fonts/WorkSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Thin.woff2") format("woff2"), url("../fonts/WorkSans-Thin.woff") format("woff"), url("../fonts/WorkSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Regular.eot");
  src: url("../fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff"), url("../fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans Black';
  src: url("../fonts/WorkSans-Black.eot");
  src: url("../fonts/WorkSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Black.woff2") format("woff2"), url("../fonts/WorkSans-Black.woff") format("woff"), url("../fonts/WorkSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans Light';
  src: url("../fonts/WorkSans-Light.eot");
  src: url("../fonts/WorkSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Light.woff2") format("woff2"), url("../fonts/WorkSans-Light.woff") format("woff"), url("../fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans ExtraLight';
  src: url("../fonts/WorkSans-ExtraLight.eot");
  src: url("../fonts/WorkSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLight.woff") format("woff"), url("../fonts/WorkSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans ExtraBold';
  src: url("../fonts/WorkSans-ExtraBold.eot");
  src: url("../fonts/WorkSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("../fonts/WorkSans-ExtraBold.woff") format("woff"), url("../fonts/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans Medium';
  src: url("../fonts/WorkSans-Medium.eot");
  src: url("../fonts/WorkSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff"), url("../fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

* {
  scroll-behavior: smooth; }

main .header-section {
  background-image: url("../images/background01.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  main .header-section header nav .navbar-toggler {
    color: #FFFFFF; }
  main .header-section header nav .navbar-nav {
    font-family: "Work sans SemiBold", sans-serif; }
    main .header-section header nav .navbar-nav a {
      color: #FFFFFF;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      margin-right: 50px; }
    main .header-section header nav .navbar-nav .hvr-underline-from-center:before {
      background: #FFFFFF; }
  main .header-section .flex-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 150px; }
    main .header-section .flex-section h1 {
      font-family: "Work sans SemiBold", sans-serif;
      font-size: 45px;
      color: #FFFFFF;
      width: 520px;
      line-height: 1.3;
      text-align: center; }
    main .header-section .flex-section h3 {
      font-family: "Work sans", sans-serif;
      font-size: 15px;
      color: #FFFFFF;
      margin-top: 30px;
      text-align: center; }
    main .header-section .flex-section .home-buttons {
      margin-top: 45px; }
      main .header-section .flex-section .home-buttons .btn-light {
        font-family: "Work sans SemiBold", sans-serif;
        font-size: 14px;
        color: #233148;
        width: 167px;
        margin-right: 25px;
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      main .header-section .flex-section .home-buttons .btn-link {
        font-family: "Work sans SemiBold", sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        width: 143px;
        border: 1px solid #FFFFFF;
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      main .header-section .flex-section .home-buttons .btn-link:hover {
        text-decoration: none; }
    main .header-section .flex-section .home-phone {
      margin-top: 75px; }

main .about-section .about-image {
  z-index: 1;
  position: absolute;
  top: 855px;
  left: 0; }
  main .about-section .about-image img {
    width: 100%;
    height: 1250px; }

main .about-section .about-first-component {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  main .about-section .about-first-component .about-phone-image {
    margin: 200px 100px 0 50px; }
  main .about-section .about-first-component .box-containers .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  main .about-section .about-first-component .box-containers #box1 {
    margin: 25px 60px 0 70px; }
  main .about-section .about-first-component .box-containers #box2 {
    margin-top: 100px; }
  main .about-section .about-first-component .box-containers #box3 {
    margin-top: -20px; }
  main .about-section .about-first-component .box-containers #box4 {
    margin-top: 100px; }
  main .about-section .about-first-component .box-containers .box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 270px;
    -webkit-box-shadow: 0px 6px 10px 3px #E7E8EA;
    box-shadow: 0px 6px 10px 3px #E7E8EA;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 60px;
    padding: 60px 0 40px 0; }
    main .about-section .about-first-component .box-containers .box .box-text {
      text-align: center;
      width: 215px; }
      main .about-section .about-first-component .box-containers .box .box-text h4 {
        font-family: "Work sans SemiBold", sans-serif;
        font-size: 14px;
        color: #233148;
        margin: 35px 0 30px 0; }
      main .about-section .about-first-component .box-containers .box .box-text p {
        font-family: "Work sans", sans-serif;
        font-size: 14px;
        color: #6A6D89;
        line-height: 1.4; }

main .about-section .about-second-component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 250px; }
  main .about-section .about-second-component .stable {
    width: 480px;
    text-align: right;
    margin: 100px 145px 0 0; }
    main .about-section .about-second-component .stable h1 {
      font-family: "Work sans Bold", sans-serif;
      font-size: 30px;
      color: #233148;
      margin-bottom: 55px; }
    main .about-section .about-second-component .stable p {
      font-family: "Work sans", sans-serif;
      font-size: 14px;
      color: #6A6D89;
      line-height: 1.6;
      margin-bottom: 35px; }
    main .about-section .about-second-component .stable .btn-primary {
      font-family: "Work sans SemiBold", sans-serif;
      font-size: 15px;
      color: #FFFFFF;
      width: 200px;
      height: 50px;
      background-color: #33D2FD;
      border: none;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding-top: 14px; }
  main .about-section .about-second-component .second-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 90px; }
    main .about-section .about-second-component .second-box .second-box-content {
      -webkit-box-shadow: 0px 6px 10px 3px #E7E8EA;
      box-shadow: 0px 6px 10px 3px #E7E8EA;
      width: 540px;
      padding: 27px 0 27px 30px;
      margin-bottom: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      main .about-section .about-second-component .second-box .second-box-content .block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        main .about-section .about-second-component .second-box .second-box-content .block img {
          margin-right: 20px; }
        main .about-section .about-second-component .second-box .second-box-content .block p {
          font-family: "Work sans SemiBold", sans-serif;
          font-size: 15px;
          color: #233148;
          margin-top: 14px; }
      main .about-section .about-second-component .second-box .second-box-content .description {
        width: 360px;
        margin: 20px 0 0 40px;
        display: none;
        font-family: "Work sans", sans-serif;
        font-size: 14px;
        color: #FFFFFF; }
    main .about-section .about-second-component .second-box .hvr-back-pulse:hover:before, main .about-section .about-second-component .second-box hvr-sweep-to-bottom:hover {
      background-color: #33D2FD; }
    main .about-section .about-second-component .second-box .second-box-content:hover {
      background-color: #33D2FD; }
      main .about-section .about-second-component .second-box .second-box-content:hover .description {
        display: block; }

main .portfolio-section .portfolio-first-component {
  background-color: #FAFAFC; }
  main .portfolio-section .portfolio-first-component .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    main .portfolio-section .portfolio-first-component .container .portfolio-code-image {
      margin: 70px 0 80px 0; }
    main .portfolio-section .portfolio-first-component .container .everything-you-need {
      margin: 70px 0 80px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      main .portfolio-section .portfolio-first-component .container .everything-you-need .title {
        font-family: "Work sans Bold", sans-serif;
        font-size: 30px;
        color: #233148;
        margin-bottom: 30px; }
      main .portfolio-section .portfolio-first-component .container .everything-you-need .checked {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 20px; }
        main .portfolio-section .portfolio-first-component .container .everything-you-need .checked img {
          margin-right: 20px; }
        main .portfolio-section .portfolio-first-component .container .everything-you-need .checked p {
          font-family: "Work sans SemiBold", sans-serif;
          font-size: 15px;
          color: #233148; }
      main .portfolio-section .portfolio-first-component .container .everything-you-need .text {
        margin-top: 30px;
        font-family: "Work sans", sans-serif;
        font-size: 14px;
        color: #6A6D89;
        width: 460px;
        line-height: 1.5; }

main .portfolio-section .portfolio-second-component {
  background-image: url("../images/background01.png");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 96px; }
  main .portfolio-section .portfolio-second-component .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    main .portfolio-section .portfolio-second-component .container .portfolio-phone-image {
      margin: 110px 0 0 180px; }
    main .portfolio-section .portfolio-second-component .container .now-available {
      margin: 275px 0 0 160px; }
      main .portfolio-section .portfolio-second-component .container .now-available .title {
        font-family: "Work sans Bold", sans-serif;
        font-size: 30px;
        color: #233148;
        margin-bottom: 30px; }
      main .portfolio-section .portfolio-second-component .container .now-available .description {
        font-family: "Work sans", sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        width: 470px;
        line-height: 1.9;
        margin-bottom: 30px; }
      main .portfolio-section .portfolio-second-component .container .now-available .get-it-on {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        main .portfolio-section .portfolio-second-component .container .now-available .get-it-on .app-store {
          margin-right: 40px; }
  main .portfolio-section .portfolio-second-component .button-get-app {
    position: relative; }
    main .portfolio-section .portfolio-second-component .button-get-app a {
      font-family: "Work sans Bold", sans-serif;
      font-size: 20px;
      color: #FFFFFF;
      position: absolute;
      -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
      left: 250px;
      top: 25px;
      width: 370px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fD7873), to(#fE367E));
      background-image: -webkit-linear-gradient(#fD7873, #fE367E);
      background-image: -o-linear-gradient(#fD7873, #fE367E);
      background-image: linear-gradient(#fD7873, #fE367E);
      padding: 30px 75px 25px 90px; }

main .contact-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 145px 0 85px 0; }
  main .contact-section .contact-first-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 85px; }
    main .contact-section .contact-first-component .contact-list {
      margin-right: 130px; }
      main .contact-section .contact-first-component .contact-list h1 {
        font-family: "Work sans SemiBold", sans-serif;
        font-size: 15px;
        color: #233148;
        margin-bottom: 30px; }
      main .contact-section .contact-first-component .contact-list li {
        margin-bottom: 20px; }
        main .contact-section .contact-first-component .contact-list li a {
          font-family: "Work sans", sans-serif;
          font-size: 14px;
          color: #6A6D89; }
        main .contact-section .contact-first-component .contact-list li a:hover {
          text-decoration: underline; }
    main .contact-section .contact-first-component .contact-list:first-child {
      margin-left: 180px; }
    main .contact-section .contact-first-component .contact-list:last-child {
      margin-right: 0; }
  main .contact-section .contact-second-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    main .contact-section .contact-second-component .title {
      font-family: "Work sans SemiBold", sans-serif;
      font-size: 30px;
      color: #233148;
      margin-bottom: 35px; }
    main .contact-section .contact-second-component .description {
      font-family: "Work sans", sans-serif;
      font-size: 14px;
      color: #6A6D89;
      margin-bottom: 75px; }
    main .contact-section .contact-second-component input {
      width: 565px;
      height: 50px;
      background-color: #F6F7FB;
      border: none;
      margin-right: 30px; }
    main .contact-section .contact-second-component .count-me-in {
      font-family: "Work sans SemiBold", sans-serif;
      font-size: 15px;
      color: #233148;
      background-color: #00D1FA;
      width: 170px;
      height: 50px;
      border: none;
      cursor: pointer; }

main footer {
  padding: 45px 0;
  background-color: #233148; }
  main footer .div-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    main footer .div-footer p {
      font-family: "Work sans", sans-serif;
      font-size: 14px;
      color: #FFFFFF; }
    main footer .div-footer a {
      font-size: 24px;
      margin-left: 30px;
      color: #FFFFFF; }
    main footer .div-footer a:hover {
      color: #00D1FA; }
